<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9">
    <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">
        <head>
            <title>Code of Conduct</title>
            <!-- Meta -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Hackman is an annual 24-hour hackathon. After a successful iteration of Hackman, Hackman v4 is back! Our theme is Open Hack. The future is data-driven. So get your fingers set on the keyboards & hack it out on the 9th & 10th of November, 2019.">
            <meta name="author" content="">
            <!-- Favicon -->
            <link rel="shortcut icon" href="/img/hackman3head.jpeg">
            <!-- Web Fonts -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=cyrillic,latin">
            <!-- CSS Global Compulsory -->
            <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/app.css">
            <link rel="stylesheet" href="/css/blocks.css">
            <link rel="stylesheet" href="/css/plugins.css">
            <link rel="stylesheet" href="/css/one.style.css">
            <!-- CSS Footer -->
            <link rel="stylesheet" href="/css/footers/footer-v7.css">
            <!-- CSS Implementing Plugins -->
            <link rel="stylesheet" href="/plugins/animate.css">
            <link rel="stylesheet" href="/plugins/line-icons/line-icons.css">
            <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="/plugins/pace/pace-flash.css">
            <link rel="stylesheet" href="/plugins/owl-carousel2/assets/owl.carousel.css">
            <link rel="stylesheet" href="/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
            <link rel="stylesheet" href="/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
            <link rel="stylesheet" href="/plugins/shhos/shhos.css">
            <!--<link rel="stylesheet" href="/css/particle.css">-->
            <!-- CSS Theme -->
            <link rel="stylesheet" href="/css/app.style.css">
            <!-- CSS Customization -->
            <link rel="stylesheet" href="/css/custom.css">
        </head>
        <body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
            <!-- Header -->
            <nav class="one-page-header navbar navbar-default navbar-fixed-animate homeapp-header" data-role="navigation">
                <div class="container">
                    <div class="menu-container page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
<!--                    <a class="navbar-brand" href="https://hackman3.glitch.me">\ -->
                        <a class="navbar-brand" href="https://hackman.in">
                        <img src="/img/hackman3logo.jpeg" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav">
                                <li class="page-scroll home">
                                    <a href="/">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- End Header -->
            <!-- Promo Block -->
            <!-- Registration -->
            <br><br><br><br><br><br>
            <section>
                <div class="container">
                    <h1 style="color:teal"><strong>CODE OF CONDUCT</strong></h1>
                    <h5>
                      Hackman is a 24 hour inter college open theme hackathon conducted by Department of Information Science and Engineering, Dayananda Sagar College of Engineering, Bangalore. It is also a platform where young talented minds from various colleges in Bangalore come up with amazing ideas, code them and make a prototype. Hackman v4 is the fourth version of its type and we have conducted two very successful versions in the past two years. We expect to have 200 participants who will compete in teams where the minimum participants in a team would be 3 and maximum would be 4. 
                    </h5>
                    <h5>
                     We value the participation of every member of Hackman and want all participants to have an enjoyable and rewarding experience. Accordingly, every participant of the event is expected to show respect and courtesy to every other participant throughout the course of event i.e Hackman v4.
                  </h5>  
                  <h5>  
                  To make clear what is expected, all participants, mentors, coordinators, organizers and volunteers at Hackman are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.
                  </h5>
                  <br>
                  
                  
                <h1 style="color:teal"><strong>SHORT VERSION</strong></h1>
                <h5>
                  Hackman is dedicated to providing a harassment-free hackathon experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, race, religion or education. We don't tolerate harassment of participants in any form.
                </h5>
                <h5>
                  All communication should be appropriate for a professional audience, including people from many different backgrounds.
                </h5>
                <h3><strong>Code for Organizers:</strong></h3>
                <h5>
                  Organizers/Coordinators/Volunteers should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment. Should make sure the code of conduct is properly followed.
                </h5>
                  <h3><strong>Code for Mentors:</strong></h3>
                  <h5>
                    Sexual language or imagery is inappropriate for your talks and advices. Refrain from using sexist, racist or exclusionary language anywhere in your content.
                  </h5>
                  <h3><strong>Code for Sponsors:</strong></h3>
                  <h5>
                    Sponsors are subject to the anti-harassment policy.
                  </h5>
                  <h5>
                    Hackman retains full and sole discretion in selecting the main theme, the mentors, the prize money, the structure, the participants and communication initiatives in relation to any aspect that may influence the attendee’s experience and overall quality and level of the event.
                  </h5>
                  <h5>
                    All rights to Hackman reside with Dayananda Sagar Institutions, Bangalore.
                  </h5>
                  <h5>
                    We conclude and provide the detail in good faith agreement between the parties to cooperate in making Hackman v4 and the partnership a success. All Hackman v4 partnerships are based on an element of trust and reasonable behavior by all parties involved.
                  </h5>
                  <h5>
                    The Organisers, Sponsors, or any related and/or situated with the event will not be responsible for any loss and/or damage to life, property or brand image incurring to any one related to the company in the course of the event.
                  </h5>
                  <h5>
                    All information is subjected to privacy and confidentiality. Any breach of this detail will be taken seriously.
                  </h5>
                  <h3><strong>Code for Participants:</strong></h3>
                  <h5>
                    Be kind and sensitive to the people around you and avoid any kind of offensive behavior. Sexist, racist or any other form of exclusionary or offensive jokes or excessive public swearing are not appropriate at Hackman v4.
                  </h5>
                  <h5>
                    Participants violating these rules may be asked to leave the event without a refund at the sole discretion of the event organizers.
                  </h5>
                  <br>
                  
                  
                  <h1 style="color:teal"><strong>LONG VERSION</strong></h1>
                  <h5>
                    Hackman v4 is dedicated to providing a harassment-free event experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, race, religion or employment.
                  </h5>
                  <h5>
                    Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of mentor talks or other events, inappropriate physical contact, and unwelcome sexual attention. We have zero tolerance on harassment of participants in any form, including, but not limited to the activities mentioned here.
                  </h5>
                  <h5>
                    Participants asked to stop any harassing behavior are expected to comply immediately.
                  </h5>
                  <h5>
                    In particular, mentors should not use sexualized images, activities, or other material. The organizers (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
                  </h5>
                  <h5>
                    All communication should be appropriate for a professional audience, including people from many different backgrounds. Sexual language or imagery is inappropriate for all aspects of the conference, including talks. Remember that sexist, racist or any other form of exclusionary or offensive jokes or excessive public swearing are not appropriate and will not be appreciated.
                  </h5>
                  <h5>
                    Do not insult or put down participants or engage in any action that violates the open, welcoming and sharing spirit of the event. Be kind and sensitive to the people around you when you are attending the event, and avoid any kind of offensive or degrading behavior.
                  </h5>
                  <h5>
                    If a participant engages in behavior that violates this code of conduct, the event organizers may take any action they deem appropriate, including warning the offender or expulsion from the event with no refund.
                  </h5>
                  <h5>
                    Thank you for helping to make Hackman v4 a welcoming, friendly event for all.
                  </h5>
                  <br>             
                  
                  <h1 style="color:teal"><strong>CONTACT INFORMATION</strong></h1>
                  <h5>
                    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event organizers. Event organizers will be wearing "Hackman crew" or "Hackman core" T shirts and will be carrying ID Cards.
                  </h5>
                  <h5>
                    Organizers will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.
                  </h5>
                  <h5>
                    If the matter is especially urgent, you may also ask to be put in touch with our<br><br>
                    Faculty Co-ordinator – <b>Mr Dheemanth URS R</b><br><br>
                    or the Head of Department – <b>Dr K N Rama Mohan Babu</b><br><br>
                    or the  Event Manager - <b>Navneeth Surya</b><br><br>

                  </h5>
                  
              </div>
            </section>
            <!-- End Features -->
            <section id="contact">
                <div class="container-fluid with-bg-2 no-side-padding">
                    <div class="container">
                        <div class="footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="g-heading-v10 g-mb-65">
                                        <h2 class="g-color-white"><em class="block-name"><span class="g-color-white"></span> Contact us</em> Answers to <strong>your Questions</strong></h2>
                                        <p>In case of any queries contact us through chat or call<br><strong><i class="fa fa-envelope" aria-hidden="true"></i><a style="color: white" href="mailto:contact@hackman.in"> contact@hackman.in</a></strong><br><i class="fa fa-phone" aria-hidden="true"></i><strong> Navneeth Surya  +918050478163</strong><br><i class="fa fa-phone" aria-hidden="true"></i><strong> Achyuth Simha  +918095789025</strong><br><i class="fa fa-phone" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Google Maps Embed-->
                <div class="container-fluid no-side-padding">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0029172171785!2d77.563501715187!3d12.90753369089803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15630fedeecf%3A0xe99711388d9ecc92!2sDayananda+Sagar+Institutions!5e0!3m2!1sen!2sin!4v1508363789425" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="container-fluid with-bg-2">
                    <div class="subfooter">
                        <div class="row">
                            <div class="col-md-12 no-side-padding">
                                <ul class="list-inline social-list text-center">
                                    <li class="facebook social-item"><a class="btn-block" href="https://www.facebook.com/pg/WeAreHackman" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter social-item"><a class="btn-block" href="https://twitter.com/WeAreHackman" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="inst social-item"><a class="btn-block" href="https://www.instagram.com/wearehackman/"><i class="fa fa-instagram" target="_blank"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Footer -->
            <!-- JS Global Compulsory -->
            <script src="/plugins/jquery/jquery.min.js"></script>
            <script src="/plugins/jquery/jquery-migrate.min.js"></script>
            <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
            <!-- JS Implementing Plugins -->
            <!--<script src="/plugins/smoothScroll.js"></script>-->
            <!--<script src="/plugins/jquery.easing.min.js"></script>-->
            <script src="/plugins/pace/pace.min.js"></script>
            <script src="/plugins/owl-carousel2/owl.carousel.min.js"></script>
            <!--<script src="/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>-->
            <!--<script src="/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>-->
            <!--<script src="/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio-2.0.1.min.js"></script>-->
            <!--<script src="/plugins/modernizr.js"></script>-->
            <!--<script src="/plugins/shhos/shhos.js"></script>-->
            <!--<script src="/plugins/wow/wow-ini-themes.js"></script>-->
            <!-- JS Page Level-->

            
        </body>
    </html>
