/* Add here all your css styles (customizations) */

.content dd {
    margin-left: 0px;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.service-btn{
	border-radius: 50px;
	border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #33cc33;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
#counter{
    font-family: sans-serif;
    color: #000;
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#counter > div{
    text-align: center;
    border-radius: 3px;
    margin: 0px 5px;
    background: #33cc33;
    color: white;
    display: block;
    overflow:initial
}

#counter div > span{
    text-align: center;
    display: inline-block;
    font-size: 8vw;
    font-weight: bold;   
}

#inaugrate_btn{
    margin:auto;
    display:block;
}